* {
  box-sizing: border-box;
  font-family: "Monomaniac One", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(img/numbers.jpg);
  background-size: contain;
  background-position: 100%;
  min-width: 400px;
}

.container {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.display {
  flex: 1;
  border-radius: 10px;
  background-color: rgb(255, 251, 237);
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-size: 35px;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

.input {
  flex: 3;
  display: flex;
  flex-direction: column;
  color: rgb(255, 239, 221);
  padding: 10px 7px;
  border-radius: 10px;
  transition: 0.5s;
}

.row {
  flex: 1;
  display: flex;
}

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 4px 12px;
  background-color: rgb(255, 251, 237);
  transition: 0.25s;
  box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.input div {
  color: rgb(0, 0, 0);
  font-size: 35px;
  cursor: pointer;
}

.button {
  transition: 0.25s;
}

.button:hover {
  scale: 97%;
  transition: 0.25s;
  background-color: rgb(148, 148, 199);
}

.button:active {
  scale: 101%;
  transition: 0.1s;
}

.op:hover {
  background-color: rgb(148, 199, 159);
}

.clr:hover {
  background-color: rgb(235, 110, 110);
}

.bck:hover {
  background-color: rgb(236, 167, 76);
}

.eqs:hover {
  background-color: rgb(76, 236, 100);
}
